
.general {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.titulo_receta {
    width:94% ;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

label{
    font-size: 30px;
    margin-bottom: 20px;
}


.columnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 30px;
}

.col1{
    align-items: center;
    width: 40%;
    display: flex;
}

.col2{
    width: 45%;
}


.image-placeholder {
    width: 450px;
    height: 450px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.cancel-btn {
    background:  #a80e0e;
    margin-left: 20px;
    height: 40px;
    width: 40px;
}
.publish-btn {
    background: #325d32;
    color: white;
    align-self: flex-end;
    margin-top: 20px;
}

.pie-de-foto{
    margin-top: 10px;
    width:450px;
    height: 50px;
    max-width: 450px;
    min-width: 450px;
    min-height: 50px;
}
.colaboradores{
    width: 100%;
    height: 100px;
}
.carroussel-btn{
    width: 40px;
    height: 40px;
}

#myImage {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc; 
    background-color: rgb(195, 195, 195);
    border-radius: 5px;
}
#add-image-btn{
    margin-left: 45%;
}

.colab-select {
    width: 70%;
    height: 30px;
    line-height: 30px; /* Asegura que el texto esté centrado */
}

.col-btn {
    height: 30px;
    width: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Asegura que el padding no afecte el tamaño */
    border: 1px solid #000; /* Opcional, para ver los bordes */
}

.select-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.colab-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    max-height: 300px;
}

.publish-container{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 70%;
    justify-self: flex-end;
}

#colablist li {
    width: 60%;
    background-color: #ddd;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #000 1px solid;
}

.colaborador-input{
    width: 70%;
    height: 30px;
    min-height: 30px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px;
}