<nav id="sidebarIzq">
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/contenido/top">Top del fogón</a></li>
		<li><a href="/contenido/normal">Chat</a></li>
		<li><a href="/contenido/cocinar">Cocinar</a></li>
		<li><a href="/contenido/admin">Recetario</a></li>
	</ul>
</nav>